
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.blogs-view {
    margin:120px 120px 120px 20px;
}


.blogs-view .post {
    padding:15px;
}

.post-content {
    height: 100%;
    border-bottom: 1px solid #b1b0ae;
}
.timeline {
    font-size: 12px;
    color: #6b6b6a;
    line-height: 1em;
    padding-bottom: 25px;
    font-weight:300;
    font-family: 'Lato', sans-serif;
}
.see-more {
    font-size: 17px;
    text-align: right;
    margin: 20px;
    font-family: 'Bad Script', cursive;
}

.see-more a {
    color: #9db796;
    text-decoration:none;
}

.pointer {
    cursor:pointer;
}

.dash{
    padding: 0 4px;
}
.post-content .title {
    font-size: 26px;
    font-family: 'Bad Script', cursive;
    color: #6b6b6a;
    margin-bottom:15px;
    line-height:33px;
}

.post-content .title:hover {
    color: #9db796;
}

.post-content .content {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.75em;
}

.blogs-view .post-date {
    font-weight: 900;
    text-align:right;
    font-family: 'Roboto', sans-serif;
}

.blogs-view .post-date .month {
    font-size:50px;
    line-height: 42px;
    letter-spacing:3px;
    color: #8e8c8a;
    line-height: 42px;
    text-transform:uppercase;
}

.blogs-view .post-left{
    border: solid #b1b0ae;
    border-width: 1px 0 1px 1px;
    padding:0;
}
.blogs-view .post-right{
    border: solid #b1b0ae;
    border-width: 1px 1px 1px 0;
    height:352px;
    padding:45px;
}
.blogs-view .image-container {
    height:350px;
    overflow:hidden;
}
.blogs-view .post-date .day {
    font-size: 90px;
    line-height: 73px;
    margin-top: 5px;
    color: #bfd0bb;
}

.blogs-view .post-date p {
    color: #8e8c8a;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 21px;
    margin-top: 6px;
    letter-spacing: 4px;
}

.blogs-view .row {
    margin: 85px -15px;
}

.blogs-view .col-md-10 {
    border: 1px solid #8e8c8a;
    height:700px;
}