<div class="blogs-view">

    <div *ngFor="let blog of blogs" class="row post-container">
        <div class="col-md-3 post-date">
            <div class="month">{{blog.month}}</div>
            <div class="day">{{blog.day}}</div>
            <p>{{'{'}} {{blog.year}} {{'}'}}</p>
        </div>
        <div class="col-md-4 post-left">
            <div class="image-container">
                <img class="pointer" width=100% src="assets/images/{{blog.cover}}">
            </div>
        </div>
        <div class="col-md-4 post-right">
            <div class="post-content">
                <div class="timeline">6 days ago
                    <span class="dash">-</span> {{blog.location}}</div>
                <div class="title pointer" (click)="showBlog(blog.id)">
                    {{blog.title}}
                </div>
                <div class="content">
                    {{blog.content.substring(0,140)}}...
                </div>
                <div class="see-more pointer">
                    <a (click)="showBlog(blog.id)" > see full post -> </a>
                </div>
            </div>
        </div>
    </div>

</div>